:root {
    --title-color: #dddddd;
    --offset-color: #cccccc;
    --title-text-color: #000000;
    --offset-text-color: #000000;
}



.jumbotron {
    background: var(--title-color);
    color: var(--title-text-color);
}

.row {
    padding: 25px 0px;
}

.card-header {
    background: var(--title-color);
    color: var(--title-text-color);
}

input {
    text-align: center;
}

.nav-tabs .nav-item .nav-link {
    background: var(--title-color);
    color: var(--title-text-color);
  }
  
  .nav-tabs .nav-item .nav-link.active {
    background: var(--offset-color);
    color: var(--offset-text-color);
  }